<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions -->
    <uses-feature android:name="android.hardware.location.gps" />

    <!--用于申请获取蓝牙信息进行室内定位-->
    <!--用于用户链接蓝牙时，在导航组件页面的蓝牙连接提醒，建立链接后开发者可选用蓝牙通道进行tts播报-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <!--允许访问网络，必选权限-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!--允许获取精确位置，实时导航为必选-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!--允许获取粗略位置，实时导航为必选-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!--允许获取网络状态，用于网络定位（无gps情况下的定位），若需网络定位功能则必选-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!--允许获取wifi网络信息，用于网络定位（无gps情况下的定位），若需网络定位功能则必选-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <!--允许获取wifi状态改变，用于网络定位（无gps情况下的定位），若需网络定位功能则必选-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <!--后台获取位置信息，若需后台定位或持续导航则必选-->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

    <!--用于申请调用A-GPS模块,卫星定位加速-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>

    <!--用与导航状态中保持屏幕常亮-->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <service android:name="com.amap.api.location.APSService"/>
        <activity
                android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode"
                android:name=".MainActivity"
                android:label="@string/title_activity_main"
                android:theme="@style/AppTheme.NoActionBarLaunch"
                android:launchMode="singleTask"
                android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"></meta-data>
        </provider>

<!--        <activity-->
<!--                android:name="com.amap.api.navi.AmapRouteActivity"-->
<!--                android:theme="@android:style/Theme.NoTitleBar"-->
<!--                android:configChanges="orientation|keyboardHidden|screenSize|navigation"/>-->
        <meta-data
                android:name="com.amap.api.v2.apikey"
                android:value="6d962326ce31b622fd11912032b1f3fc"/>

    </application>


</manifest>
