#layout-a {
  #page-discover {
    background-color: $color-default-background;
    width: 100%;
    min-height: 100%;
    height: auto;
    padding: 3rem;

    .content-wrapper {
      margin: auto;
      max-width: 56rem;

      #search-card {
        .card-cover {
          height: 12rem;
          width: 100%;
          display: flex;
          align-items: end;
          background: url('//fp1.fghrsh.net/2022/12/23/027c7c27977b55c3943528c7c55a2c20.jpg') no-repeat;
          background-size: cover;
          background-position: 0 50%;

          .cover-shadow {
            width: 100%;
            padding: 1.5rem;
            padding-top: 3rem;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%,
                    rgba(0, 0, 0, 0.00691776) 3.94%, rgba(0, 0, 0, 0.028408) 7.89%,
                    rgba(0, 0, 0, 0.0653279) 11.83%, rgba(0, 0, 0, 0.117929) 15.78%,
                    rgba(0, 0, 0, 0.18542) 19.72%, rgba(0, 0, 0, 0.265507) 23.67%,
                    rgba(0, 0, 0, 0.354153) 27.61%, rgba(0, 0, 0, 0.445847) 31.56%,
                    rgba(0, 0, 0, 0.534493) 35.5%, rgba(0, 0, 0, 0.61458) 39.44%,
                    rgba(0, 0, 0, 0.682071) 43.39%, rgba(0, 0, 0, 0.734672) 47.33%,
                    rgba(0, 0, 0, 0.771592) 51.28%, rgba(0, 0, 0, 0.793082) 55.22%,
                    rgba(0, 0, 0, 0.8) 59.17%);

            h2 {
              font-size: 28px;
              color: white;
            }
          }
        }

        .card-content {
          width: 100%;
          padding: 1.5rem;

          .search-wrapper {
            display: inline-flex;
            justify-content: space-around;
            align-items: flex-end;
            gap: 0.75rem;
            width: 100%;

            .search-type {
              display: flex;
              flex-direction: column;
              gap: 0.5rem;

              .select-wrapper {
                min-width: 100%;
                position: relative;

                .selector {
                  display: flex;
                  align-items: center;
                  flex: 1 1 0%;
                  flex-wrap: nowrap;
                  padding: 0.5rem;
                  padding-left: 0;
                  position: relative;
                  overflow: hidden;
                }
              }
            }

            .search-content {
              display: flex;
              flex-direction: column;
              gap: 0.5rem;
              flex: 1 1 0%;
              align-self: stretch;

              .inputer {
                padding: 0.5rem;
                padding-left: 0;
              }
            }

            .search-button {
              .button-wrapper {
                padding: 0.5rem;
                padding-left: 0;
              }
            }
          }
        }
      }

      #content-discover {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;

        h3 {
          font-size: 24px;
        }

        .discover-divider {
          margin: 0;
          margin-top: 1.5rem;
        }

        .content-list {
          list-style: none;
          padding-left: 0;

          li {
            width: 100%;
            padding-top: 3rem;
            padding-bottom: 3rem;
          }
        }
      }
    }
  }
}

.type-label {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: 700;
  color: black;
}

#d-article {
  .cover-wrapper {
    width: 100%;
    min-height: 400px;
    display: flex;
    position: relative;

    .cover-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1.5rem;
      width: 100%;
      background: linear-gradient(rgba(0, 0, 0, 0.2), transparent 104px),
      linear-gradient(0deg, rgba(0, 0, 0, 0.7), transparent 50%);

      .info-user {
        display: flex;
        align-items: center;
        width: 100%;
        z-index: 11;

        #user-avatar {
          flex-shrink: 0;
        }

        .user {
          width: 100%;
          padding-left: 0.75rem;

          .user-name {
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            color: white;
            text-shadow: rgba(0, 0, 0, 0.25) 0px 0px 8px;
          }

          .user-follow {
            font-size: 14px;
            line-height: 17px;
            color: white;
            text-shadow: rgba(0, 0, 0, 0.25) 0px 0px 8px;
          }
        }

        #follow-button {
          flex-shrink: 0;
        }
      }

      .info-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        z-index: 9;

        .classify {
          width: 100%;

          p {
            font-size: 14px;
            color: white;
            text-shadow: rgba(0, 0, 0, 0.25) 0px 0px 8px;
          }
        }

        .title {
          width: 100%;

          h3 {
            width: 65%;
            font-size: 28px;
            max-width: 425px;
            color: white;
            text-shadow: rgba(0, 0, 0, 0.25) 0px 0px 8px;
          }
        }

        .specify {
          p {
            padding-top: 0.75rem;
            font-size: 14px;
            color: white;
            text-shadow: rgba(0, 0, 0, 0.25) 0px 0px 8px;
          }
        }
      }
    }

    .cover-jump {
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      background-color: transparent;
      z-index: 10;

      &:hover {
        ~ .cover-bg {
          transform: scale(1.05);

          &::after {
            opacity: 0.33;
          }
        }
      }
    }

    .cover-bg {
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      background-size: cover;
      background-image: url('//fp1.fghrsh.net/2020/01/12/1e8c4232da6be35942f6ecd630797f60.jpg');
      transition: all .1s ease-in;
      z-index: 8;

      &::after {
        opacity: 0;
        position: absolute;
        content: "";
        display: block;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        background-color: black;
        transition: all .1s ease-in;
      }
    }
  }

  .article-content {
    width: 100%;
    display: flex;
    flex-direction: column;

    .introduction {
      width: 100%;
      padding-left: 0.5rem;
      padding-right: 0.5rem;

      p {
        line-height: 1.5;
        font-size: 16px;
        color: black;

        a {
          color: black;
        }
      }
    }
  }

  .divider {
    border-bottom: 1px solid #CCCCCC;
  }

  .article-action {
    width: 100%;
    display: flex;

    .action-button {
      font-size: 16px;
      font-weight: 700;
      color: black;
    }
  }
}

.discover-hover{
  .hover-content{
    padding: 1.5rem;
    min-width: 15rem;
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .user-follow{
      display: flex;
      gap: 1rem;

      .followering{
        display: flex;
        flex-direction: column;

        span{
          font-size: 16px;
          font-weight: 700;
        }
      }
    }
  }
}

#d-card{
  .title-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    .greeting-more{
      display: flex;
      justify-content: space-between;

      span{
        font-weight: 600;
        &:hover{
          font-weight: 700;
          cursor: pointer;
        }
      }
    }

    .user-wrapper{
      display: flex;
      align-items: center;

      .avatar-wrapper{
        flex-shrink: 0;
      }

      .info-wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 15px;

        span{
          font-size: 14px;
        }
      }

      .button-wrapper{
        display: flex;
        align-items: center;
        flex-shrink: 0;
      }
    }

    .picture-map{
      width: 100%;

      .picture-wrapper{
        display: flex;
        gap: 0.25rem;

        .left{
          width: 60%;
          height: 400px;
          flex-shrink: 0;
        }

        .right{
          height: 400px;
          width: 40%;
          flex-shrink: 0;
          display: flex;
          flex-direction: column;
          gap: 0.25rem;

          .right-item{
            height: 200px;
          }
        }
      }
    }
    
    .operation{
      .buttons-wrapper{
        display: flex;
        gap: 1rem;

        .action-button {
          font-size: 16px;
          font-weight: 700;
          color: black;
        }
      }
      
    }
  }

  .comment-area{
    transition: all 1s, ease-out;
    overflow: hidden;

    &.show{
      transition: all 1s, ease-out;
      height: 100px;
    }

    &.hide{
      max-height: 0;
    }

    .my-comment{
      display: flex;
      align-items: center;
      gap: 1.5rem;

      .avatar{
        flex-shrink: 0;
      }

      .form{
        width: 100%;
      }
    }

    .other-comments{
      margin-top: 1.5rem;
      padding-left: 1.5rem;
    }
  }
}