#mobile-planner {
  #top-menu {
    .outer-container {
      .menu-select {
        .van-collapse {
          .van-collapse-item {
            .van-cell {
              padding: 15px 16px;

              .menu-icon {
                opacity: 0.6;
                margin-right: 15px;
              }

              .van-cell__title {
                margin: auto 0;
                font-size: 20px;
                font-family: "PingFang SC", DFPKingGothicGB-Medium, sans-serif;
                opacity: 0.9;
              }


            }

            .select-items {
              display: flex;

              .list-item {
                width: 40px;
                height: 40px;
                border-radius: 100%;
                //margin: 10px;
                //width:30px !important;
                border: none;
                background-color: #FFFFFF;
                margin: 0 10px;
                img{
                  width: 100%;
                  height:100%;
                  padding: 5px;
                }
              }
            }

            .van-collapse-item__content {
              background-color: #383838;
            }
          }
        }
      }

      .menu-locations {

      }
    }
  }
}
