#mobile-planner {
  $modal-z-index: $mobile-footer-nav-z-index + 1;
  font-family: PingFang SC, DFPKingGothicGB-Regular, sans-serif;
  height: 100%;

  * {
    box-sizing: border-box;
  }

  #top-menu {
    background-color: transparent;

    .outer-container {
      position: relative;
      z-index: 1;
      overflow: hidden;

      * {
        transition: height 0.2s ease-out;
      }

      .menu-select {
        overflow: hidden;

        .van-cell {
          display: flex;
          justify-content: center;
          align-items: center;

          .menu-icon {
            opacity: 0.6;
            margin-right: 15px;
            height: 20px;
            width: 20px;
          }

          .van-cell__title {
            margin: auto 0;
            font-size: 20px;
            font-family: "PingFang SC", DFPKingGothicGB-Medium, sans-serif;
            opacity: 0.9;
          }
        }

        .select-items {
          display: flex;

          .list-item {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            //margin: 10px;
            //width:30px !important;
            border: none;
            //margin: 0 10px;
            display: flex;

            .active {
              background-color: #FFFFFF;
            }

            img {
              width: 30px;
              height: 40px;
              padding: 5px;
              margin: auto;
            }
          }
        }

        .van-collapse-item__content {
          background-color: #383838;
        }
      }

      .menu-locations {
        background-color: $theme-ui-colors-primary;

        * {
          background-color: transparent;
        }

        .van-form {
          overflow: hidden;

          --van-field-input-disabled-text-color: white;
          --van-field-clear-icon-color: white;
          --van-field-clear-icon-size: 12px;
          --van-field-right-icon-color: white;

          .van-cell-group {
            margin: 0 5px;
            padding: 5px 0;

            .van-cell {
              padding: 5px 16px;

              .van-field__label {
                font-weight: 700 !important;
                color: white;
                width: 1.5rem !important;
                height: 1.5rem !important;
              }

              .van-field__body {
                padding-left: .5rem !important;
                padding-right: .5rem !important;
                background-color: rgba(64, 117, 0, 1) !important;
                border-radius: 4px !important;
                min-width: 0 !important;

                input {
                  color: white;
                  cursor: default;
                }
              }

              .field-icon {
                margin: auto 0 auto 16px;
              }
            }
          }
        }

        .hint {
          display: flex;
          text-align: center;
          font-size: 12px;
          color: rgba(255, 255, 255, 0.5);
          padding: 0 5px;
          height: 34px;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  .operation-container {
    z-index: $modal-z-index;
    background-color: white;
    position: absolute;
    bottom: $mobile-footer-nav-height;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.4);

    .operation-btn {
      font-weight: bold;
      letter-spacing: 1px;
      width: 100%;
      margin: 10px
    }
  }

  #map-container {
    position: absolute;
    left: 0;
    top: $header-height;
    //height: 100vh;
    height: calc(100vh - $mobile-footer-nav-height - $header-height);
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #bottom-menu {
    z-index: $modal-z-index;
    --van-action-sheet-header-height: 30px;
    --van-action-sheet-header-font-size: 15px;
    padding: 0 10px;

    .van-action-sheet__header {
      width: 50px;
      background-color: lightgray;
      border: solid thick lightgray;
      margin: 10px auto 5px auto;
      scale: 0.5;
      border-radius: 10px;
    }

    .pos-sheet-btn-container {
      .pos-sheet-btn {
        margin: 10px 8px 10px 0;
        letter-spacing: 1px;
        padding: 10px;
        height: 32px;
        font-size: 15px;
      }
    }

    .pos-sheet-text-container {
      .name {
        font-size: 23px;
        margin: 5px 0 15px 5px;
        font-weight: bold;
      }

      .loading {
        margin-top: 30px;
        display: flex;
        justify-content: center;
      }

      .pos-sheet-distance {
        .icon {
          margin-right: 15px;
        }

        .text {
          font-size: 18px;
        }

        margin-bottom: 15px;
      }
    }

    .pos-sheet-location {
      margin: 5px;
      font-size: 18px;
    }

    .space {
      height: 30px;
    }
  }

  .result-panel {
    z-index: $modal-z-index - 1;

    .result-cell {
      display: flex;
      justify-content: center;
      align-items: center;

      .menu-icon {
        opacity: 0.6;
        margin-right: 30px;
        height: 20px;
        width: 20px;
      }

      .van-cell__title {
        margin: auto 0;
        font-size: 20px;
        font-family: "PingFang SC", DFPKingGothicGB-Medium, sans-serif;
        opacity: 0.9;
      }

      .adjust-btn {
        border: transparent;
      }
    }

    .result-detail {
      //opacity: 0.5;
      //margin-top: 10px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .detail-item {
        .van-grid-item__content {
          padding: 10px 0px;
        }

        &:not(.action-item) {
          opacity: 0.6;
        }
      }

      .detail-content {
        font-weight: bold;
        margin-top: 8px;
      }


      .action-item {
        opacity: 0.7;
        color: rgb(25, 137, 250)
      }
    }

    .title-input {
      padding: 0;

      input {
        text-align: right;
      }
    }

    .collection-select {


    }

    .collection-picker {
      z-index: $modal-z-index;
    }
  }
}
