#page-record {
  height: 100%;
  width: 100%;

  .vip-hint {
    position: relative;
    width: 100%;
    top: 60px;
    font-size: 25px;
    font-weight: bold;
    z-index: 1000;
    color: $theme-ui-colors-secondary;
  }

  .record-swipe {
    position: absolute;
    top: $header-height;
    //height: $header-height * 2;
    width: 100%;
    background-color: transparent;
    z-index: $mobile-footer-nav-z-index;


    .van-swipe-item {
      background-color: rgba(255, 255, 255, 0.4);

      &:has(.swipe-grid) {
        background-color: white;
      }

      &:has(.swipe-card-item) {
        height: 100px;
        //background-color: rgba(255, 255, 255, 0.4);
      }


      .swipe-grid {
        > :nth-child(1) {
          background-color: rgba(0, 0, 0, 0);
        }

        > :nth-child(2) {
          background-color: rgba(0, 0, 0, 0.03);
        }

        > :nth-child(3) {
          background-color: rgba(0, 0, 0, 0.05);
        }

        > :nth-child(4) {
          background-color: rgba(0, 0, 0, 0.07);
        }

        .swipe-grid-item {
          display: flex;
          padding: 10px;

          .swipe-grid-item-icon {
            font-size: 18px;
            opacity: 0.3;
            margin: 2px 5px 5px 0;
          }

          .arco-statistic-title {
            margin-bottom: 0;
          }

          .arco-statistic-extra {
            margin-top: 0;
          }
        }
      }

      .swipe-card-item {
        .navigation-instruction {
          font-family: PingFang SC, DFPKingGothicGB-Regular, sans-serif;
          font-size: 26px;
          color: rgba(255, 255, 255);
          font-weight: bold;
        }

        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgba(79, 173, 13, 0.7);
        padding: 20px;
        //background-color: transparent;

      }
    }


  }

  .weak-gps-hint {
    color: #fff;
    font-family: PingFang SC, DFPKingGothicGB-Regular, sans-serif;

    .hint-icon {
      font-size: 30px;
      margin-right: 13px;
    }

    .hint-text {
      font-size: 25px;

    }

    height: 90px;
    position: absolute;
    top: $header-height;
    z-index: $mobile-footer-nav-z-index;
    width: 100%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $theme-ui-colors-primary;


  }

  #map-container {
    position: relative;
    left: 0;
    top: 0;
    height: calc(100vh - $mobile-footer-nav-height - $header-height);
    width: 100%;
    margin: 0;
    padding: 0;
    //@media(max-width: 900px){
    //  width:100%;
    //  left:0;
    //  top:$menu-height;
    //}
  }
}

#record-layout-footer {
  height: $mobile-footer-nav-height !important;

  .arco-btn-group {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100%;

    .footer-btn {
      font-weight: bold;
      font-size: 17px;
      width: 100%;
      height: 100%;

      .footer-icon {
        color: rgba(0, 0, 0, 0.6);
        font-size: 20px;
      }
    }
  }

}
