#page-record {
  height: 100%;
  width: 100%;

  .record-swipe {
    position: absolute;
    top: $header-height;
    //height: $header-height * 2;
    width: 100%;
    background-color: white;
    z-index: $mobile-footer-nav-z-index;

    .swipe-grid {
      > :nth-child(1) {
        background-color: rgba(0, 0, 0, 0);
      }

      > :nth-child(2) {
        background-color: rgba(0, 0, 0, 0.03);
      }

      > :nth-child(3) {
        background-color: rgba(0, 0, 0, 0.05);
      }

      > :nth-child(4) {
        background-color: rgba(0, 0, 0, 0.07);
      }

      .swipe-grid-item {
        display: flex;
        padding: 10px;

        .swipe-grid-item-icon {
          font-size: 18px;
          opacity: 0.3;
          margin: 2px 5px 5px 0;
        }

        .arco-statistic-title {
          margin-bottom: 0;
        }

        .arco-statistic-extra {
          margin-top: 0;
        }
      }
    }

  }

  #map-container {
    position: relative;
    left: 0;
    top: 0;
    height: calc(100vh - $mobile-footer-nav-height - $header-height);
    width: 100%;
    margin: 0;
    padding: 0;
    //@media(max-width: 900px){
    //  width:100%;
    //  left:0;
    //  top:$menu-height;
    //}
  }
}