#layout-admin {
  //$header-height: 68px;
  //$sidebar-width: 160px;
  $nav-size-height: 60px; // navbarHeight
  $sider-size-width: 220px;
  $layout-max-width: 1100px;
  font-family: "PingFang SC", DFPKingGothicGB-Regular, sans-serif;
  height: 100%;
  background: $color-dark; //var(--color-fill-2)
  //border: 1px solid $corl;


  > .arco-layout-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: $nav-size-height;
  }

  > .arco-layout {
    height: 100%;

    //position: relative;
    //margin-top:$nav-size-height;
    //margin-left: $sider-size-width;
    min-height: 100vh;
    overflow-y: hidden;
    background-color: var(--color-fill-2);
    transition: padding 0.2s cubic-bezier(0.34, 0.69, 0.1, 1);

    > .arco-layout-sider {
      position: fixed;
      top: $nav-size-height;
      max-width: $sider-size-width;
      left: 0;
      z-index: 99;
      height: 100%;
      transition: all 0.2s cubic-bezier(0.34, 0.69, 0.1, 1);

      &::after {
        position: absolute;
        top: 0;
        right: -1px;
        display: block;
        width: 1px;
        height: 100%;
        background-color: var(--color-border);
        content: '';
      }

      > .arco-layout-sider-children {
        overflow-y: hidden;
      }
    }

    > .layout-content {
      min-height: 100vh;
      overflow-y: hidden;
      background-color: var(--color-fill-2);
      transition: padding 0.2s cubic-bezier(0.34, 0.69, 0.1, 1);
      //position: relative;
      //padding-top: $nav-size-height !important;
      //padding-left: $sider-size-width !important; // TODO: 自适应
      .top-tabs {
        .arco-tabs-content {
          display: none;
        }
      }
    }
  }

  //.arco-layout-sider-light .logo {
  //  background: var(--color-fill-2);
  //}

  //.arco-layout-header {
  //  height: 64px;
  //  line-height: 64px;
  //  //background: var(--color-bg-3);
  //}

  .arco-layout-footer {
    height: 48px;
    //color: var(--color-text-2);
    font-weight: 400;
    font-size: 14px;
    line-height: 48px;
  }

  .arco-layout-content {
    //color: var(--color-text-2);
    font-weight: 400;
    font-size: 14px;
    background: var(--color-bg-3);
  }

  .arco-layout-footer,
  .arco-layout-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    //color: var(--color-white);
    font-size: 16px;
    font-stretch: condensed;
    text-align: center;
  }
}
